html {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #171717;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #0e4054;
}

a.light:link,
a.light:visited,
a.light:hover,
a.light:active {
    color: #57b0d4;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #00000011;
}

#content > section:nth-child(even) {
    background-color: white;
}

#content > section:nth-child(odd) {
    background-color: #f8f8f8;
}

#content > section {
    box-sizing: border-box;
    border-bottom: 4px solid #082b38;
    padding: 0 2em 1em 2em;
}

#main {
    color: #171717;
    /*background-color: white;*/
}

.info-key {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 0.7em;
}

.accent-background {
    background-color: #14779e;
    color: white;
}

footer {
    width: 100% !important;
    text-align: center;
    background-color: #11111177;
    color: white;
}

#footer-content {
    box-sizing: border-box;
    padding: 0 2em;
    font-size: 0.7em;
}

#header-content {
    box-sizing: border-box;
    padding: 0 2em;
}

#header-links {
    height: 100%;
    text-align: right;
}

#header-links:before {
    content: '';
    display: inline-block;
    width: 0;
    height: inherit;
    min-height: inherit;
    vertical-align: middle;
}

.header-link {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5em 0.5em 0.5em 0;
}

    .header-link:last-of-type {
        margin-right: 0;
    }

    .header-link > svg {
        border: 1px solid #ffffff22;
        background-color: #ffffff11;
        border-radius: 12px;
        fill: white;
        padding: 10px;
        width: 30px;
        height: 30px;
        box-shadow: 0 2px 4px #00000055;
    }

#content section#ip-info{
    display: block;
    padding: 6px 8px;
    font-size: 12px;
    background-color: #0e4054;
    color: white;
    border: 0;
}

#applet-setup {
    border: 1px solid #00000022;
    background-color: #00000011;
    border-radius: 6px;
    padding: 12px;
    margin: 22px 0;
}

#applet-setup > .inline-row {
    margin: 12px 0;
}

#applet-setup > :first-child {
    margin-top: 0;
}

#bookmarklet {
    color: white;
    border: 1px solid #ffffff22;
    background-color: #2480a4;
    border-radius: 6px;
    padding: 24px;
    margin-top: 1em;
    box-shadow: 0 2px 4px #00000055;
}

.input-bool, .input-text {
margin: 6px 0;
}

label {
    user-select: none;
}

ol > li,
ul > li {
    margin-bottom: 1em;
}


/*layout*/


/* MENU WRAP*/
@media only screen and (max-width: 750px) {
    #header-title,
    #header-links {
        width: 100%;
        height: auto;
        text-align: center;
    }

    #header-title > h1 {
        margin-bottom: 0;
    }

}

/*MIN*/
@media only screen and (max-width: 300px) {
    #header-title {
        width: 100%;
    }

    .header-link {
        margin-right: 6px;
    }

    .header-link > svg {
        width: 15px;
        height: 15px;
    }
}

#map{
    width:100% !important;
    height:100% !important;
    margin: 0 !important;
}

section,
body,
html {
    /*position: relative;*/
    width: 100%;
    height: 100%;
}

.inline-row {
    display: inline-block;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.flexable {
    /*reserved*/
}

body.flex {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-content: space-between;
}

body > .flexable {
    flex-basis: auto;
    flex-grow: 1;
    width: 1024px;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

header > .flex {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

    header > .flex > .flexable {
        flex-basis: auto;
        flex-grow: 1;
    }

#bookmarklet {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

/*overrides*/


.flex-nogrow {
    flex-grow: 0 !important;
}


/*codeblocks command prism overrides*/


pre {
    max-height: 500px;
    max-width: 100%;
    white-space: pre-line !important;
}

body div.code-toolbar > .toolbar {
    top: 20px;
    left: 20px;
    right: 0;
    opacity: 1;
}

    body div.code-toolbar > .toolbar .toolbar-item a,
    body div.code-toolbar > .toolbar .toolbar-item button {
        display: inline-block;
        line-height: 40px;
        cursor: pointer;
        background: none;
        text-decoration: none;
        box-shadow: none;
    }

    body div.code-toolbar > .toolbar .toolbar-item {
        padding: 0 6px;
        line-height: 40px;
        margin-right: 12px;
        background-color: #ffffff22;
        border-radius: 3px;
    }

body pre[class*="language-"] {
    padding-top: 70px;
    margin: 0 auto;
    margin-top: 12px;
}
