@page
@model JohnPenny.MSFS.SimConnectManager.REST.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html class="">
<head>
    <meta charset="utf-8">
    <title>MSFS 2020 API Host</title>

    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="res/css/normalize.css" />
    <link rel="stylesheet" href="res/css/base.css" />
</head>
<body class="flex ">
    <header class="flexable flex-nogrow accent-background ">
        <div id="header-content" class="flex ">
            <div id="header-title" class="flexable ">
                <h1>
                    MSFS 2020 API Host
                </h1>
            </div>
            <div id="header-links" class="flexable ">
                <a href="/" class="header-link" tabindex="2" title="Home Page">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z" /></svg>
                </a>
                <a href="map" class="header-link" tabindex="1" title="Map Page">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z" /></svg>
                </a>
                <a href="bookmarklet" class="header-link" tabindex="2" title="Bookmarklet Page">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M17 20H5c-.55 0-1-.45-1-1V7c0-.55-.45-1-1-1s-1 .45-1 1v13c0 1.1.9 2 2 2h13c.55 0 1-.45 1-1s-.45-1-1-1zm3-18H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 10l-2.5-1.5L15 12V4h5v8z" /></svg>
                </a>
                <a href="applet" class="header-link" tabindex="1" title="Applet Code Page">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M8.7 15.9L4.8 12l3.9-3.9c.39-.39.39-1.01 0-1.4-.39-.39-1.01-.39-1.4 0l-4.59 4.59c-.39.39-.39 1.02 0 1.41l4.59 4.6c.39.39 1.01.39 1.4 0 .39-.39.39-1.01 0-1.4zm6.6 0l3.9-3.9-3.9-3.9c-.39-.39-.39-1.01 0-1.4.39-.39 1.01-.39 1.4 0l4.59 4.59c.39.39.39 1.02 0 1.41l-4.59 4.6c-.39.39-1.01.39-1.4 0-.39-.39-.39-1.01 0-1.4z" /></svg>
                </a>
                <a href="docs" class="header-link" tabindex="1" title="API Docs Page">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24" /><rect fill="none" height="24" width="24" /></g><g><g><path d="M9,15c-2.67,0-8,1.34-8,4v1c0,0.55,0.45,1,1,1h14c0.55,0,1-0.45,1-1v-1C17,16.34,11.67,15,9,15z" /><path d="M4.74,9h8.53c0.27,0,0.49-0.22,0.49-0.49V8.49c0-0.27-0.22-0.49-0.49-0.49H13c0-1.48-0.81-2.75-2-3.45V5.5 C11,5.78,10.78,6,10.5,6S10,5.78,10,5.5V4.14C9.68,4.06,9.35,4,9,4S8.32,4.06,8,4.14V5.5C8,5.78,7.78,6,7.5,6S7,5.78,7,5.5V4.55 C5.81,5.25,5,6.52,5,8H4.74C4.47,8,4.25,8.22,4.25,8.49v0.03C4.25,8.78,4.47,9,4.74,9z" /><path d="M9,13c1.86,0,3.41-1.28,3.86-3H5.14C5.59,11.72,7.14,13,9,13z" /><path d="M21.98,6.23l0.93-0.83l-0.75-1.3l-1.19,0.39c-0.14-0.11-0.3-0.2-0.47-0.27L20.25,3h-1.5L18.5,4.22 c-0.17,0.07-0.33,0.16-0.48,0.27L16.84,4.1l-0.75,1.3l0.93,0.83C17,6.4,17,6.58,17.02,6.75L16.09,7.6l0.75,1.3l1.2-0.38 c0.13,0.1,0.28,0.18,0.43,0.25L18.75,10h1.5l0.27-1.22c0.16-0.07,0.3-0.15,0.44-0.25l1.19,0.38l0.75-1.3l-0.93-0.85 C22,6.57,21.99,6.4,21.98,6.23z M19.5,7.75c-0.69,0-1.25-0.56-1.25-1.25s0.56-1.25,1.25-1.25s1.25,0.56,1.25,1.25 S20.19,7.75,19.5,7.75z" /><path d="M19.4,10.79l-0.85,0.28c-0.1-0.08-0.21-0.14-0.33-0.19L18.04,10h-1.07l-0.18,0.87c-0.12,0.05-0.24,0.12-0.34,0.19 l-0.84-0.28l-0.54,0.93l0.66,0.59c-0.01,0.13-0.01,0.25,0,0.37l-0.66,0.61l0.54,0.93l0.86-0.27c0.1,0.07,0.2,0.13,0.31,0.18 L16.96,15h1.07l0.19-0.87c0.11-0.05,0.22-0.11,0.32-0.18l0.85,0.27l0.54-0.93l-0.66-0.61c0.01-0.13,0.01-0.25,0-0.37l0.66-0.59 L19.4,10.79z M17.5,13.39c-0.49,0-0.89-0.4-0.89-0.89c0-0.49,0.4-0.89,0.89-0.89s0.89,0.4,0.89,0.89 C18.39,12.99,17.99,13.39,17.5,13.39z" /></g></g></svg>
                </a>
            </div>
        </div>
    </header>
    <main id="main" class="flexable">
        <div id="content" class="flex">
            <section id="ip-info" class="flexable flex-nogrow ">@Model.IPInfo</section>
            <section id="s-map" class="flexable ">
                <h1>Map With Sim Overlay</h1>
                <p>
                    To view your sim data on a map <a href="map">go straight to the Map page</a>. 
                    <a href="map?demo=true">Or view the Map demo page.</a>
                </p>
                <p>
                    <strong>Will work on any browser that can contact this server.</strong>
                </p>
            </section>
            <section id="s-api" class="flexable ">
                <h1>API</h1>
                <p>
                    If you want to see the API endpoints <a href="docs">head over to the Docs page</a>.
                </p>
            </section>
            <section id="s-applet" class="flexable ">
                <h1>Map Overlay Applet - (Browser console / Bookmarklet)</h1>
                <p>
                    As an example of how you may consume the API on a website by running your own javascript code on top of a web page please see the <a href="applet">Applet Code page</a> and the <a href="bookmarklet">Bookmarklet page</a>.
                </p>

                <hr />

                <h2>Underlay Providers</h2>
                <p>
                    <strong>
                        I am required to point out that YOU are using the provider's maps, service, and APIs, as an individual.
                        You are responsible for any and all requests and uses of a map provider's services.
                        The creator(s) of this project hold absolutely no responsibility for your usage.
                    </strong>
</p>
                <p>
                    <strong>
                         You must follow map providers rules; Do not block their ads, and do not spam their services.
                    </strong>
                </p>
                <p>
                    If you wish to add more providers you simply need to find the javascript code that makes the map target move to a given latitude and longitude and implement it in the applet.
                    Many providers will obscure these features and require an API key, but some allow users to access basic featues on their web maps.
                    Be especially respectful of the providers offering free access! They could easily disallow it, but they choose to offer an open service.
                </p>

                <hr />

                <h2>Instructions For Bookmarklet</h2>
                <p>
                    <strong>Will work on most mobile, tablet, and desktop web browsers.</strong>
                </p>
                <p>
                    If you wish to consume the API in a web browser that doesn't allow javascript console input you should <a href="bookmarklet" target="">go to the Bookmarklet page.</a>
                </p>

                <hr />

                <h2>Instructions For Web Browser Console</h2>
                <p>
                    <strong>Will work on nearly all desktop web browsers.</strong>
                </p>
                <p>
                    To consume the API in a web browser by pasting an applet into the console you should <a href="applet" target="">go to the Applet Code page.</a>
                </p>
            </section>
        </div>
    </main>
    <footer class="flexable flex-nogrow ">
        <div id="footer-content" class="">
            <p>
                Project by John Penny © 2020 <a href="//github.com/johnpenny/dotnetframework.aspnetcore.msfs-2020-api-host" target="_blank" class="light">View on GitHub</a>
            </p>
        </div>
    </footer>
</body>
</html>